<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218166447911-jckf7sae47mo5qvm0bak5fr4dlio8uh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218166447911-jckf7sae47mo5qvm0bak5fr4dlio8uh8</string>
	<key>API_KEY</key>
	<string>AIzaSyAI_TnCB58zUbwRh68UsTv8hyAzRsViwK4</string>
	<key>GCM_SENDER_ID</key>
	<string>218166447911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ellatronic.OAuthLesson</string>
	<key>PROJECT_ID</key>
	<string>oauthlesson</string>
	<key>STORAGE_BUCKET</key>
	<string>oauthlesson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:218166447911:ios:b02f58719c57477a</string>
	<key>DATABASE_URL</key>
	<string>https://oauthlesson.firebaseio.com</string>
</dict>
</plist>